<div class="container">

    <br>
    <h1>Pipes</h1>

    <table class="table table-hover">
        
        <thead>
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> UPPERCASE </td>
                <td> {{ name | uppercase }} </td>
            </tr>
            <tr>
                <td> {{ name }} </td>
                <td> lowercase </td>
                <td> {{ name | lowercase }} </td>
            </tr>
            <tr>
                <td> {{ name }} </td>
                <td> slice:3 </td>
                <td> {{ name | slice:3 }} </td>
            </tr>
            <tr>
                <td> {{ name }} </td>
                <td> slice:0:3 </td>
                <td> {{ name | slice:0:3 }} </td>
            </tr>
            <tr>
                <td> {{ arr }} </td>
                <td> slice:1:5 </td>
                <td> {{ arr | slice:1:5 }} </td>
            </tr>
            <tr>
                <td> {{ PI }} </td>
                <td> number:'3.0-0' </td>
                <td> {{ PI | number:'3.0-0' }} </td>
            </tr>
            <tr>
                <td> {{ PI }} </td>
                <td> number:'1.0-3' </td>
                <td> {{ PI | number:'1.0-3' }} </td>
            </tr>
            <tr>
                <td> {{ a }} </td>
                <td> percent </td>
                <td> {{ a | percent }} </td>
            </tr>
            <tr>
                <td> {{ a }} </td>
                <td> percent:'2.2-4' </td>
                <td> {{ a | percent:'2.2-4' }} </td>
            </tr>
            <tr>
                <td> {{ salary }} </td>
                <td> currency </td>
                <td> {{ salary | currency }} </td>
            </tr>
            <tr>
                <td> {{ salary }} </td>
                <td> currency:'MXN':'symbol':'3.2-4' </td>
                <td> {{ salary | currency : 'MXN' : 'symbol' : '3.2-4' }} </td>
            </tr>
            <tr>
                <td> {{ promiseValue }} </td>
                <td> async </td>
                <td> {{ promiseValue | async  }} </td>
            </tr>
            <tr>
                <td> {{ date }} </td>
                <td> date </td>
                <td> {{ date | date  }} </td>
            </tr>
            <tr>
                <td> {{ date }} </td>
                <td> date : 'GG EE dd-MMM-yy hh:mm:ss aa'</td>
                <td> {{ date | date : 'GG EE dd-MMM-yy hh:mm:ss aa'  }} </td>
            </tr>
            <tr>
                <td> {{ nameLower }} </td>
                <td> nameLower | capitalized:'rafa':'manzo'  </td>
                <td> {{ nameLower | capitalized:'rafa':'manzo'    }} </td>
            </tr>
            <tr>
                <td> {{ name }} </td>
                <td> password:activate
                     <br>
                     <button (click)="activate = !activate" type="button" class="btn btn-outline-primary">
                         Activar/Desactivar
                     </button>
                </td>
                <td> {{ name | password:activate }} </td>
            </tr>
        </tbody>

    </table>

    <h3>Uso de slice</h3>
    <p>El pipe slice muestra los elementos desde la posicion 5 a la 20, sin error de acceso a un indice fuera del arreglo.
    </p>
    <ul>
        <li *ngFor="let item of arr | slice:5:20"> {{ item }} </li>
    </ul>

    <h4> JSON </h4>
    <pre> {{ heroe | json }} </pre>

    <h4>Recursos externos <small>vídeo</small></h4>
    <iframe width="560" height="315" [src]="video|domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
</div>